<div class="wrapper dark-mode">
    <!-- Preloader -->
    <!--<div class="preloader flex-column justify-content-center align-items-center">
        <img class="animation__shake" src="assets/img/innomedic.png" alt="Innomedic_Logo" width="360px">
    </div>-->
    <app-navbar></app-navbar>
    <!-- /.navbar -->
    <app-sidebar></app-sidebar>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <!-- /.content-wrapper -->
    <app-footer></app-footer>
</div>
<!-- ./wrapper -->