<!-- Navbar -->
<nav class="main-header navbar navbar-expand" [ngClass]="modoDark == 1 ? 'navbar-gray-dark navbar-dark' : 'navbar-dark navbar-lightblue'">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
    </ul>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        <li class="nav-item d-none d-sm-inline-block custom-control custom-switch" style="margin-top: 7px;">
            <form #miFormulario="ngForm">
                <input type="checkbox" role="switch" class="custom-control custom-switch custom-control-input" id="customSwitch1" [(ngModel)]="modoSwitch" name="modoSwitch" (change)="cambiaModo()">
                <label class="custom-control-label" for="customSwitch1" style="color: rgba(255,255,255,.75) !important;font-weight: 400 !important;">Modo Oscuro</label>
            </form>
        </li>
        <li class="nav-item d-none d-sm-inline-block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
        <li class="navbar-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#" routerLinkActive="active">Mantenimiento<span class="caret"></span></a>
            <div class="dropdown-menu dropdown-menu-md dropdown-menu-right">
                <a href="javascript:void(0)" [routerLink]="'/intranet/maintenance/users'" class="dropdown-item" [class.active]="globals.showMenu === 'users'">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            <i class="fas fa-users nav-icon"></i>&nbsp;&nbsp;Usuarios
                        </h3>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0)" class="dropdown-item" routerLinkActive="active">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            <i class="fas fa-building nav-icon"></i>&nbsp;&nbsp;Sedes
                        </h3>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0)" class="dropdown-item">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            <i class="far fa-id-badge nav-icon"></i>&nbsp;&nbsp;Perfiles
                        </h3>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="javascript:void(0)" class="dropdown-item">
                    <div class="media-body">
                        <h3 class="dropdown-item-title">
                            <i class="fas fa-user-md nav-icon"></i>&nbsp;&nbsp;Puestos
                        </h3>
                    </div>
                </a>
            </div>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="javascript:void(0)" (click)="salir()" class="nav-link">Salir</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-comments"></i>
                <span class="badge badge-danger navbar-badge">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">No existen mensajes</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">Ver todos los mensajes</a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <i class="far fa-bell"></i>
                <span class="badge badge-warning navbar-badge">0</span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <span class="dropdown-item dropdown-header">No existen notificaciones</span>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item dropdown-footer">Ver todas las notificaciones</a>
            </div>
        </li>
    </ul>
</nav>