<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a [routerLink]="'/intranet'" class="brand-link" style="text-align: center; padding:2px;">
        <img class="brand-text" src="assets/img/innomedic_logo.png" alt="Innomedic_logo" height="51px" style="opacity: .8">
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/img/users/usuario.svg" class="img-circle" alt="User Image">
            </div>
            <div *ngIf="userInfo" class="info">
                <a href="#" class="d-block">{{userInfo.name1 + ' ' + userInfo.lastName1 + ' ' + userInfo.lastName2 }}</a>
            </div>
        </div>
        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
           with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <a [routerLink]="'/intranet'" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Panel de Control
                        </p>
                    </a>
                </li>
                <li class="nav-header">RECURSOS HUMANOS</li>
                <li class="nav-item">
                    <a [routerLink]="'/intranet/rrhh/personal'" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon far fa-address-book"></i>
                        <p>Colaboradores</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" routerLinkActive="active">
                        <i class="nav-icon fas fa-edit"></i>
                        <p>
                            Organización
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a [routerLink]="'/intranet/rrhh/business'" class="nav-link" routerLinkActive="active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Razones Sociales</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Sedes</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Perfiles</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0)" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Cargos</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <i class="nav-icon far fa-address-book"></i>
                        <p>Planillas</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="" class="nav-link">
                        <i class="nav-icon far fa-address-book"></i>
                        <p>Regímenes Pensionarios</p>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>